<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>approveBooking</servlet-name>
        <servlet-class>servlet.approveBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createHomestay</servlet-name>
        <servlet-class>servlet.createHomestay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createSchedule</servlet-name>
        <servlet-class>servlet.createSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateHomestay</servlet-name>
        <servlet-class>servlet.updateHomestay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteHomestay</servlet-name>
        <servlet-class>servlet.deleteHomestay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStaff</servlet-name>
        <servlet-class>servlet.updateStaff</servlet-class>        
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>Authentication.SignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>approveBooking</servlet-name>
        <url-pattern>/approveBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createHomestay</servlet-name>
        <url-pattern>/createHomestay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createSchedule</servlet-name>
        <url-pattern>/createSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateHomestay</servlet-name>
        <url-pattern>/updateHomestay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteHomestay</servlet-name>
        <url-pattern>/deleteHomestay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStaff</servlet-name>
        <url-pattern>/updateStaff</url-pattern>        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--LoginModuleStart-->
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Authentication.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>Authentication.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInCustomer</servlet-name>
        <servlet-class>Authentication.SignInCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInCustomer</servlet-name>
        <url-pattern>/SignInCustomer</url-pattern>
    </servlet-mapping>
    <!--LoginModuleEnd-->
</web-app>
